<template>
  <b-tabs v-show="!soldved" position="is-centered" class="mb-80">
    <b-tab-item label="Задание" icon="google-photos">
      <div class="mb-20 task-desc">{{task.text}}</div>
      <b-field>
        <b-input v-model="userQuery" placeholder="SQL запрос" size="is-medium" icon="console-line"></b-input>
      </b-field>
      <a v-on:click="action" class="button is-link">Проверить</a>
    </b-tab-item>
    <b-tab-item class="text-center" label="Помощь" icon="help-circle">
      <img src="./../assets/er.png" alt>
    </b-tab-item>
  </b-tabs>
</template>


<script>
import { Toast } from "buefy/dist/components/toast";
import SqlTaskService from "./../core/sqlTaskService/sqlTaskService";

const dbService = new SqlTaskService();

export default {
  name: "SqlTask",
  props: ["task"],

  created: function() {},

  data() {
    return {
      userQuery: "",
      soldved: false
    };
  },

  methods: {
    action: function() {
      dbService.testAnswer(
        this.userQuery,
        this.task.testQuery,
        (isСorrect, errorText) => {
          if (isСorrect) {
            this.soldved = true;
            this.$root.$emit("onSqlTaskSoldved");
            this.$toast.open({
              message: "Задание решено",
              type: "is-success"
            });
          } else {
            this.$toast.open({
              message: errorText,
              type: "is-danger"
            });
          }
        }
      );
    }
  }
};
</script>
