<template>
  <div id="app">
    <div class="container">
      <!-- <b-tabs position="is-centered"> -->
      <!-- <b-tab-item label="Задание 1"> -->
      <div class="mb-10 title text-center">Тренажер написания SQL запросов</div>
      <div
        class="mb-20 text-center"
      >Задания на умение составлять SQL запросы. Составляйте SQL запросы которые описываються в заданиях. С структурой базы данных можно ознакомится на вкладке помощь</div>
      <div
        class="mb-20 count-label"
      >Решено {{counters.sqlTasks.solved}} из {{counters.sqlTasks.total}}</div>
      <SqlTask
        v-if="!task.soldved"
        v-for="task in tasks.sqlTasks"
        v-bind:key="task.id"
        v-bind:task="task"
      ></SqlTask>
      <!-- </b-tab-item> -->
      <!-- <b-tab-item label="Задание 2"></b-tab-item>
      <b-tab-item label="Задание 3"></b-tab-item>-->
      <!-- </b-tabs> -->
    </div>
  </div>
</template>

<script>
import SqlTask from "./components/SqlTask.vue";
import SqlTasks from "./core/sqlTaskService/resources/tasks";

export default {
  name: "app",

  components: {
    SqlTask
  },

  created() {
    const self = this;
    this.$root.$on("onSqlTaskSoldved", function() {
      self.counters.sqlTasks.solved += 1;
    });
  },

  data() {
    return {
      tasks: {
        sqlTasks: SqlTasks
      },
      counters: {
        sqlTasks: {
          solved: 0,
          total: SqlTasks.length
        }
      }
    };
  }
};
</script>

<style lang="scss">
#app {
  margin-top: 100px;
}
.title {
  font-size: 36px;
}
.count-label {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.text-center {
  text-align: center;
}
.task-desc {
  font-size: 22px;
}
</style>
